* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

.leaderboard-header{
    border-style: solid;
    border-width: thin;
    padding: 1vh 0;
    background-color: #ba92f5;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;

}

.leaderboard-row{
    cursor: pointer;
    border-width: thin;
    border-style: solid;
    display: flex;
    width: 100%;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.leaderboard-items{
    align-items: center;
    display: flex; 
    width: 50%; 
    justify-content: space-between;
}

.leaderboard-row:hover{
    background-color: rgb(238, 236, 236);
    cursor: pointer;
    transition: 0.2s;
}

.leaderboard-link{
    width: 100%;
    font-size: 2vh;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.counter{
    font-size: 2vh;
    font-weight: bold;
    color: black;
    text-decoration: none;

}