*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.pouch-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 150vh;
    margin-bottom: 5vh;
  }
  
  .top-pouch {
    padding: 2vh;
    width: 150vh;
    border-style: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-width: thin;
    background-color: white;

  }

  .pouch-title{
    font-weight: normal;
  }

  .pouch-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .pouch-feedback {
    display: flex;
    text-align: center;
    margin-top: 2vh;
    width: 100%;
    justify-content: space-between;
  }

  .pouch-feedback img{
    height: auto;
    width: 3vh;
  }

  .like-comment-feedback{
    display: flex;
    text-align: center;
    width: 20vh;
    justify-content: space-between;
  }

  .pouch-comment{
    display: flex;
    width: 7.5vh;
    justify-content: space-between;
    align-items: center;
  }

  .pouch-comment p{
    font-weight: bold;
  }
  
  
  .bottom-pouch {
    padding: 2vh;
    width: 100%;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: thin;
    background-color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .bottom-pouch h3 {
    font-weight: normal;
    width: 95%;
  }
  