*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.comment-container {
    display: flex;
    flex-direction: column;
    width: 150vh;
    height: auto;  
    white-space: pre;
    word-break:break-all;
    padding: 2vh;

  }
  
  .bottom-comment{
    display: flex;
  }

  .top-comment{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .top-comment h4, h3{
    margin-bottom: 1vh;
  }
  
  .date-comment{
    margin-left: 2vh;
  }

  .comment-username h3{
    font-weight: bold;
  }

  .comment-comment{
    width: 100%;
    font-weight: normal;
    margin-bottom: 1vh;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }

  .right-pouch{
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right-pouch img{
    width: 2vh; 
    height: auto;
  }

  .right-pouch p{
    font-weight: bold;
  }

  .likePouch, .dislikePouch{
    background-color: transparent;
    border-style: none;
    border-radius: 15px;
    padding: 0.5vh;
    cursor: pointer;
  }

  .likePouch:hover, .dislikePouch:hover{
    background-color: #ba92f5;
  }

  .likePouch.liked{
    background-color: #ba92f5;
  }

  .dislikePouch.disliked{
    background-color: #ba92f5;
  }