* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

.row{
    border-style: solid;
    border-width: thin;
    list-style: none;
    display: flex;
}

.row a:hover{
    background-color: rgb(238, 236, 236);
    cursor: pointer;
    transition: 0.2s;
}

.row a{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 2vh 5vh;
}

.row h5, h4{
    color: black;
    font-weight: normal;
    cursor: text; 
    width: fit-content;
}

.row h2{
    color: black;
    cursor: text; 
    width: fit-content;
    margin-bottom: 1vh;
}

.top{
    max-width: 60vh;
    width: 100%; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 2vh;
}

.top img{
    position: sticky;
    margin: 0;
    padding: 0;
    height: auto;
    width: 3vh;
    cursor:text;
}

.top p{
    font-weight: bolder;
    font-size: 20px;
    cursor:text;
    color: black;
    margin-left: 1vh;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    
    background-color: #d5b9ff;
    width: 20vh;
}

.bottom p{
    font-size: 20px;
    font-weight: bold;
    
}

.bottom img{
    position: sticky;
    margin: 0;
    padding: 0;
    height: auto;
    width: 4vh;
    cursor: pointer;
    align-items: center;
}

.likeBtn, .dislikeBtn{
    border-radius: 15px;
    border-style: none;
    background-color: transparent;
    width: fit-content;;
    padding: 1.5vh;
}

.likeBtn:hover, .dislikeBtn:hover{
    background-color: #b789fd;
}

.likeBtn:disabled, .dislikeBtn:disabled{
    background-color:#d5b9ff;
}

.likeBtn.liked{
    background-color: #b789fd;
}

.dislikeBtn.disliked{
    background-color: #b789fd;
}

.feedback{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedback p{
    font-weight: bold;
    cursor:default;

}

.comment-feedback{
    margin-top: 2vh;
    width: 20vh;
    display: flex;
    cursor: pointer;
}

.right-feedback{
    margin-top: 2vh;
    margin-left: 5vh;
}

.left-feedback{
    margin-bottom: 1vh;
    margin-left: 5vh;
}

.middle-feedback, .right-feedback, .left-feedback {
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
}

.user-picture{
    display: flex; 
    align-items: center;
    margin-bottom: 1vh;
}   

.user-picture img{
    margin-right: 1vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;

}

.user-picture h4{
    cursor: pointer;
    font-size: 2vh;
    border-radius: 15px;
    padding: 1vh; 
}










