.main-page{
    display: flex; 
    height: 100vh;
    
}

.topic{
    margin-top: 7%; 
    background-color: green;
    height: 100%;
    width: 30%;
}

.feed{
    margin-top: 7%;
    background-color: red;
    height: 100%;
    width: 100%;
}