*{
    text-decoration: none;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.footer-container{
    background-color: #ba92f5;
    height:7.5vw;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.top-footer{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-left: 5vw;
} 

.top-footer img{
    height: auto;
    width: 3vw;
}

.bottom-footer{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: 5vw;
}

.bottom-footer img{
    width: 1.5vw;
    height: auto;
    margin-right: 2vh;
}

.bottom-footer img:hover{
    cursor: pointer;
}

.top-footer p{
    font-size: 2vw;
    color: white
}
