*{
    text-decoration: none;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.lower-body{
    background-color: #ba92f5;
    height:20vh;
    width: 100%;
}

.top-footer{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-footer p{
    margin-top: 5vh;
    font-size: 3vh;
}

.top-footer h1{
    font-size: 2vh;
    color: black;
    text-align:center;
    font-weight: normal;

}