*{
    text-decoration: none;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.navbar img, .signUpBtn img{
    height: auto;
    width: 3vh;
}
.header{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 10px 40px; 
    background: #ba92f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 1.5vw;
    color: white;
    font-weight: normal;
    justify-content: center;
}

.logo img {
    width: 1.5vw;
    height: auto;
}

.logo:hover{
    font-size: 1.5vw;
    font-weight: bold;
    transition: 0.2s;
}
.navbar{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.navbar a, .signUpBtn a{
    position: relative;
    font-size: 1vw;
    color: white;
    font-weight: 500;
    margin: 0px 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
}

.navbar a::before, .signUpBtn a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0; 
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar a:hover::before, .signUpBtn a:hover::before{
    width: 100%;
}

.notification:hover{
    cursor: pointer;
}

.navbar p{
    font-size: 1vw;
    color: white;
    font-weight: 500;
    cursor:default;
    margin-right: 1vh;
    margin-bottom: 0.5vh;
}

