* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.create-container {
  background-color: #d5b9ff;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
  padding: 2vh;
  width: 100%;
  height: auto;
}

.create-container p {
  margin-top: 5vh;
  font-weight: bold;
}

.title-input {
  width: 100%;
  height: 5vh;
  padding: 0vh 1vh;
}

.desc-input {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  height: 25vh;
  padding: 0vh 1vh;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  resize: none;
  box-sizing: border-box;
  padding: 1.5vh;
}

.create-container button {
  background-color: #ba92f5;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  height: auto;
  width: 10vh;
  padding: 1.5vh;
  margin-top: 2vh;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
}

.create-container button:hover {
  background-color: #ae7afc;
}

.create-container button:disabled{
  background-color: #ae7afc;
  cursor: not-allowed;
}