* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.main {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upper-body {
  background-color: #ba92f5;
  height: 25vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upper-body img {
  position: absolute;
  height: auto;
  width: 45vw;
}

.upper-body p {
  color: White;
  font-weight: bolder;
  font-size: 2.5vw;
  z-index: 999;
}

.upper-search {
  margin: 2.5vh 0vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  border-color: rgb(138, 138, 138);
  border-style: solid;
  background-color: white;
  cursor: text;
  z-index: 999;
  width: 25vw;
}

.upper-search input {
  background: transparent;
  padding: 2vh;
  border: 0;
  outline: 0;
  color: black;
  font-size: 2vh;
  cursor: text;
  width: 100%;
  text-align: left;
}

.upper-search img {
  margin-left: 2vh;
  height: auto;
  width: 2.5vh;
  position: relative;
}

.upper-search img:hover {
  cursor: pointer;
}

.search-btn {
  background: transparent;
}

.middle-body {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.middle-p {
  text-align: center;
  font-size: 4.5vh;
  font-weight: normal;
  width: 42.5vw;
  margin-top: 5vh;
}

.roo-header {
  margin-top: 5vh;
  width: 50vw;
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.roo-header p {
  font-size: 5vh;
  font-weight: bold;
}

.roo-catagories {
  width: 50vw;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1.5vh;
}

.roo-catagories a {
  position: relative;
  margin-right: 2.5vh;
  color: black;
  font-weight: normal;
  font-size: 2.5vh;
}

.roo-catagories a:hover {
  background-color: #ba92f5;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  padding: 1.5vh;
}

.link.active {
  font-weight: normal;
  color: white;
  background-color: #ba92f5;
}

.container {
  width: 50vw;
  height: 50vw;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin-bottom: 10vh;
  border-style: solid;
  border-width: thin;
}

.middle-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.error {
  color: #6300f8;
  font-weight: bold;
  margin-top: 5vh;
}

.message-error,
.title-error {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.left-container,
.right-container {
  width: 20vw;
}

.lower-body{
  background-color: #d5b9ff;
  height:auto;
  width: 50vw;
  margin-bottom: 2.5vw;
  border-radius: 5vh;
  padding: 1vh;
}

.top-lower-body{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5vh;
  padding: 5vh;
  background-color: #ba92f5;
}

.top-lower-body p{
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
}

.top-lower-body h1{
  font-size: 1vw;
  color: black;
  text-align:center;
  font-weight: normal;
  color: white;
}