*{
    margin: 0; 
    padding: 0; 
    text-decoration: none;
    box-sizing: border-box;
}

.pfp p{
    color: gray;
}

.profile-overview{
    margin-top: 20px;
    border-radius: 10px;

    /* Box Shadow Generation */
    -webkit-box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);
    -moz-box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);
    box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);

    width: 70vw;
    height: 15rem;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pfp{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background-size: 100% 100%;
    margin: 10px;
    background-image: url(../../assets/images/ProfilePics/kangaroo.jpg);
    position: relative; 
}

.pfp:hover::after {
    background-image: url(../../assets/images/editpfp.png);
}

.user-pouches{
    margin-top:10px;
    background-color: white;
    border-radius:10px;

    /* Box Shadow Generation */
    -webkit-box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);
    -moz-box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);
    box-shadow: 28px 32px 51px -24px rgba(0,0,0,0.57);
}

.heading-container{
    font-size: 20px;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bio{
    color: darkgray
}
select{
    font-size: 20px;
    border: none;
    cursor: pointer;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

/* Modal content */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50vw;
    position: relative;
}

.modal-content h3 {
    margin-bottom: 20px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.pfpContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#kangaroo{
    background-image: url(../../assets/images/ProfilePics/kangaroo.jpg);
    background-size: 100% 100%;
}

#dog{
    background-image: url(../../assets/images/ProfilePics/dog.jpg);
    background-size: 100% 100%;
}

#giraffe{
    background-image: url(../../assets/images/ProfilePics/giraffe.jpg);
    background-size: 100% 100%;
}

#hedgehog{
    background-image: url(../../assets/images/ProfilePics/hedgehog.jpg);
    background-size: 100% 100%;
}

#panda{
    background-image: url(../../assets/images/ProfilePics/panda.jpg);
    background-size: 100% 100%;
}

#squirrel{
    background-image: url(../../assets/images/ProfilePics/squirrel.jpg);
    background-size: 100% 100%;
}

#tiger{
    background-image: url(../../assets/images/ProfilePics/tiger.jpg);
    background-size: 100% 100%;
}

#turtle{
    background-image: url(../../assets/images/ProfilePics/turtle.jpg);
    background-size: 100% 100%;
}

.overlay {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
    background-color: lightslategray;
    z-index: 1; 
}

.pfp:hover{
    cursor: pointer;
}
.pfp:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
.text{
    font-size: 15px;
    color: white;
}