body{
   
    display: flex;                   /* Use flexbox to center content */
    align-items: center;             /* Center items vertically */
    justify-content: center;         /* Center items horizontally */
    height: 100vh;                  /* Full viewport height */
    margin: 0;  
    font-family: "Jacquarda Bastarda 9", serif;
    background-color: #8f6dc2;
}
h4{
    padding-bottom: 1em;
}
#hello{
    font-weight: lighter;

}
h1{
    color: black;
    font-weight:bold;
}


.auth-container{
    height: 30em;
    width: 50em;
    background-color: white;
    display:flex;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
    border-radius: 40px; 
}

.left-container, .right-container {
    flex: 1; /* Each child will take up equal space */
    height: 100%; /* Ensure they take up the full height of the parent */
}

.right-container{
    background-image: url('../assets/images/LoginPattern.png'); /* Set your image path here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    border-radius: 40px;
}

.left-container{
    padding-left: 2em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    all: unset; /* Resets all inherited styles */
    border: 1px solid lightgray;
    border-bottom: 0.5px;
    height:3em;
    width: 20em;
    border-radius: 50px;
    margin: 0.5em 0;
    border-color: black;
    border-style: solid;
    padding-left: 1em; 
}
.auth-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpBtn, .logInBtn{
    color: black;
    font-weight: normal;
    height: 2.5em;
    width: 10em;
    border-radius: 40px;
    margin: 0.5em 0;
    border-style: none;
    background-color: #ba92f5;  
    cursor: pointer;   
    transition: 0.2s;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpBtn:hover, .logInBtn:hover{
    background-color: #8f6dc2;
}



