*{
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}

.create-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-style: solid; 
    border-radius: 10px;
    border-width: thin;
    margin-top: 2vh;
    padding: 5vh;
    width: 150vh;
    height: auto;
    
}

.create-container p{
    margin-top: 5vh;
    font-weight: bold;
}

.title-input{
    width: 100%;
    height: 5vh; 
}

.desc-input{
    width: 100%; 
    height: 30vh; 
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
}

.create-container button{
    background-color: #d5b9ff;
    border-style: solid; 
    border-radius: 10px; 
    border-width: thin; 
    height: auto; 
    width: 20vh; 
    padding: 2vh;
    margin-top: 2vh; 
    cursor: pointer;
}