* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upper-body {
  background-color: #ba92f5;
  height: 60vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.upper-body img {
  position: absolute;
  height: auto;
  width: 90vh;
}

.upper-body p {
  color: White;
  font-weight: bolder;
  font-size: 5vh;
  z-index: 999;
}

.upper-search {
  margin: 2.5vh 0vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 10px;
  border-color: rgb(138, 138, 138);
  border-style: solid;
  background-color: white;
  cursor: text;
  z-index: 999;
  width: 45vh;
}

.upper-search input {
  background: transparent;
  padding: 2vh;
  border: 0;
  outline: 0;
  color: black;
  font-size: 2vh;
  cursor: text;
  width: 100%;
  text-align: left;
}

.upper-search img {
  margin-left: 2vh;
  height: auto;
  width: 2.5vh;
  position: relative;
}

.upper-search img:hover {
  cursor: pointer;
}

.search-btn {
  background: transparent;
}

.middle-body {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.middle-p {
  text-align: center;
  font-size: 4.5vh;
  font-weight: normal;
  width: 85vh;
  margin-top: 5vh;
}

.roo-header {
  margin-top: 10vh;
  width: 125vh;
  display: flex;
  margin-bottom: 2vh;
  justify-content: space-between;
}

.roo-header p {
  font-size: 5vh;
  font-weight: bold;
}

.roo-catagories {
  width: 125vh;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1.5vh;
}

.roo-catagories a {
  position: relative;
  margin-right: 3vh;
  color: black;
  font-weight: normal;
  font-size: 2.5vh;
}

.roo-catagories a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s;
}

.roo-catagories a:hover::before {
  width: 100%;
}

.create-roo {
  width: 20vh;
  border-radius: 10px;
  border-width: thin;
  background-color: #ba92f5;
  color: white;
  font-size: 2vh;
  padding: 2vh;
  cursor: pointer;
}

.container {
  width: 125vh;
  height: auto;
  max-height: 100vh;

  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  margin-bottom: 10vh;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.row {
  list-style: none;
  border-radius: 10px;
}

.row:hover {
  background-color: rgb(238, 236, 236);
  cursor: pointer;
  transition: 0.2s;
}

.row a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 5vh;
}

.row h5,
h4 {
  color: black;
  font-weight: normal;
}

.row h5 {
  margin-top: 2vh;
}

.row h2 {
  color: black;
}

.top {
  max-width: 75vh;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.bottom {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  width: 30vh;
}
.bottom img {
  float: right;
  height: auto;
  width: 3vh;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.feedback img {
  position: sticky;
  margin: 0;
  padding: 0;
  height: auto;
  width: 4vh;
}

.feedback img:hover {
  height: auto;
  width: 4.5vh;
}

.feedback p {
  font-weight: bolder;
  font-size: 20px;
  cursor: text;
}

.comment-feedback {
  width: 20vh;
}

.left-comment {
  margin-top: 0vh;
  margin-right: 5vh;
}

.right-comment {
  margin-top: 0vh;
  margin-left: 5vh;
}

.like-feedback {
  display: flex;
  flex-direction: column;
}

.right-feedback {
  margin-top: 4vh;
}

.left-feedback {
  margin-bottom: 4vh;
}

.lower-body {
  background-color: #d5b9ff;
  height: 20vh;
}

.top-footer {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top-footer p {
  margin-top: 5vh;
  font-size: 3vh;
}

.top-footer h1 {
  font-size: 2vh;
  color: black;
  text-align: center;
  font-weight: normal;
}
