*{
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.main{
    position: absolute;
    top: 0;  
    left: 0; 
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upper-body{
    background-color: #ba92f5;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

img{
    position: absolute;
    height: auto;
    width: 85vh; 
}

.upper-body p{
    color: White;
    font-weight: bolder;
    font-size: 6vh;
    z-index: 999;
}

.upper-search{
    margin: 2.5vh 0vh;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border-color: rgb(138, 138, 138);
    border-style: solid;
    background-color: white;
    cursor: text;
    z-index: 999;
    width: 45vh;
}

.upper-search input{
    background: transparent;
    border: 0; 
    outline: 0;
    color: black;
    font-size: 2vh;
    cursor: text;
    width: 100%;
    text-align: left;
}

.upper-search img{
    margin-left: 2vh;
    height: auto;
    width: 2.5vh;
    position:relative;
}

.upper-search img:hover{
    cursor: pointer;
}

.search-btn{
    background: transparent;
}

.middle-body{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.middle-p{
    text-align: center;
    font-size: 4.5vh;
    font-weight: normal;
    width: 85vh;
}

.roo-header{
    margin-top: 10vh;
    width: 125vh;
    display: flex;
    margin-bottom: 2vh;
    justify-content: space-between;
}

.roo-header p{
    font-size: 5vh;
    font-weight: bold;
}

.create-roo{
    width: 20vh;
    border-radius: 10px;
    border-width: thin;
    background-color: #ba92f5;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    cursor: pointer;
}

.container{
    width: 125vh;
    
}

.row{
    border-style: solid;
    border-width: thin;
    padding: 5vh;
    list-style: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

h5, h2, h4{
    color: black;
}
.bottom{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.bottom img{
    float: right; 
    height: auto;
    width: 3vh;
}

.feedback{
    width: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
}


.feedback img{
    margin: 0;
    padding: 0;
    height: auto;
    width: 3vh;
}

.feedback p{
    font-weight: bolder;
    font-size: 20px;
}

.right-feedback{
    margin-right: 3vh;
    margin-bottom: 3vh;
}

.left-feedback{
    margin-left: 0cqb;
    margin-right: 3vh;
    margin-bottom: 3vh;
}
.feedback img:hover{
    height: auto;
    width: 3.5vh;
    
}

.switch-page{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-page button{
    width: 20vh;
    padding: 2vh;
    background-color: #ba92f5;
    border-radius: 10px;
    border-width: thin;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.switch-page button:hover{
    background-color: #ad7df7;
}


.lower-body{
    background-color: #d5b9ff;
    height:20vh;
}

.top-footer{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.top-footer p{
    margin-top: 5vh;
    font-size: 2.5vh;
}

.top-footer h1{
    font-size: 1.5vh;
    color: black;
    text-align:center;
    font-weight: normal;

}

