* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.pouch-background {
  margin-top: 20vh;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pouch-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 150vh;
  margin-bottom: 5vh;
}

.top-pouch {
  padding: 2vh;
  width: 150vh;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: thin;
  background-color: white;
}

.pouch-feedback {
  display: flex;
  text-align: center;
  margin-top: 2vh;
}

.pouch-feedback h5 {
  margin-right: 5vh;
  font-style: normal;
  font-weight: normal;
}

.bottom-pouch {
  padding: 2vh;
  width: 100%;
  border-style: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: thin;
  background-color: white;
}

.bottom-pouch h3 {
  font-weight: normal;
  width: 95%;
}

.reply-container {
  padding: 3vh;
  margin-top: 5vh;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 150vh;

}

.pouch-input {
  white-space: pre-wrap;
  word-wrap: break-word;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  width: 95%;
  height: 10vh;
  resize: none;
  padding: 1.5vh;
}

.reply-container button {
  width: 15vh;
  border-radius: 10px;
  border-width: thin;
  background-color: #ba92f5;
  color: white;
  font-size: 2vh;
  padding: 1vh;
  cursor: pointer;
}

.reply-container button:hover {
  background-color: #ac7cf3;
}

.comment-box{
  width: 150vh;
  min-height: 50vh;
  height: auto;
  margin-bottom: 5vh;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  background-color: white;
}

.comment-container {
  display: flex;
  flex-direction: column;
  width: 150vh;
  height: auto;  
  white-space: pre;
  word-break:break-all;
  padding: 3vh;
  border-style: solid;
  border-width: thin ;
}


.bottom-comment{
  display: flex;

}

.date-comment{
  margin-right: 10vh;
}

.comment-username{
  font-weight: bold;
  margin-bottom: 1vh;
}

.bottom-comment h3 {
  font-weight: normal;
}

.pouch-button,
.pouch-input {
  margin-top: 2vh;
}


.comment-comment{
  width: 100%;
  font-weight: normal;
  white-space: pre;
  word-break: break-all;
  margin-bottom: 2vh;
}
