.pouch-background{
    margin-top: 20vh;
    position:absolute;
    display: flex; 
    top: 0;  
    left: 0; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pouch-container{
    background-color:transparent;
    display: flex; 
    flex-direction: column;
    align-items: start;
    width: 150vh;
}

.top-pouch{
    padding: 2vh;
    width: 150vh;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    background-color: white;
}

.pouch-feedback{
    display: flex; 
    text-align: center;
}

.pouch-feedback h5 {
    margin-right: 5vh;
    font-style: normal;
    font-weight: normal;
}

.bottom-pouch{
    padding: 2vh;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    background-color: white;
}

.bottom-pouch h3{
    font-weight: normal;
    width: 95%;
}

.reply-container{
    padding: 3vh;
    margin-top: 5vh;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 150vh;
    margin-bottom: 10vh;
}

.pouch-input{
    text-align:left;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    width: 95%;
    height: 30vh;

}

.reply-container button{
    width: 20vh;
    border-radius: 10px;
    border-width: thin;
    background-color: #ba92f5;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    cursor: pointer;
}

.reply-container button:hover{
    background-color: #ac7cf3;
}

.comment-container{
    display: flex;
    flex-direction: column;
    width: 150vh;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    margin-top: 5vh;
    max-height: 80vh;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    
}

.top-comment{
    border-style: solid;

    border-width: thin;
    background-color: white;
    padding: 3vh;
}

.bottom-comment{
    border-style: solid;

    border-width: thin;
    background-color: white;
    padding: 3vh;
}

.bottom-comment h3{
    font-weight: normal;
}

.pouch-button, .pouch-input{
    margin-top: 2vh;
}