.header{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 20px 40px; 
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: white;
    font-weight: bolder;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 60px;
}


.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0; 
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar a:hover::before{
    width: 100%;

}

.search-Box{
    display: flex;
    text-align: center; 
    padding: 10px 20px;
    border-radius: 50px;
    background: white;
    cursor: text;
}

.search-Box input{
    padding: 6px;
    background: transparent;
    border: 0; 
    outline: 0;
    color: black;
    font-size: 18px;
    width: 600px;
    cursor: text;
    
}

.search-Box:hover{
    background-color: lightgray;
    transition: .2s;
}

.search-Box input::placeholder{
    color: black;
}

.search-Box img{
    width: 30px;
    cursor: pointer;
}